# Excercise 1
* importing
* train_test_split
* feature scaling

In [31]:
# Import necessary libraries
import pandas as pd
from sklearn.model_selection import train_test_split

In [32]:
# Load the Wine Quality Red dataset
dataset = pd.read_csv("winequality-red.csv", delimiter= ";")

In [33]:
dataset.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [34]:
# Separate features and target
X = dataset.iloc[:, :-1] # features
y = dataset.iloc[:, -1:] # target

In [35]:
# Split the dataset into an 80-20 training-test set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size= 0.2, random_state=1)

In [36]:
print("X_train:", len(X_train),  "\n",
      "X_test:", len(X_test))

X_train: 1279
 X_test: 320

In [37]:
dataset.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000
mean,8.319637,0.527821,0.270976,2.538806,0.087467,15.874922,46.467792,0.996747,3.311113,0.658149,10.422983,5.636023
std,1.741096,0.179060,0.194801,1.409928,0.047065,10.460157,32.895324,0.001887,0.154386,0.169507,1.065668,0.807569
min,4.600000,0.120000,0.000000,0.900000,0.012000,1.000000,6.000000,0.990070,2.740000,0.330000,8.400000,3.000000
25%,7.100000,0.390000,0.090000,1.900000,0.070000,7.000000,22.000000,0.995600,3.210000,0.550000,9.500000,5.000000
50%,7.900000,0.520000,0.260000,2.200000,0.079000,14.000000,38.000000,0.996750,3.310000,0.620000,10.200000,6.000000
75%,9.200000,0.640000,0.420000,2.600000,0.090000,21.000000,62.000000,0.997835,3.400000,0.730000,11.100000,6.000000
max,15.900000,1.580000,1.000000,15.500000,0.611000,72.000000,289.000000,1.003690,4.010000,2.000000,14.900000,8.000000

In [38]:
# Create an instance of the StandardScaler class
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()

In [39]:
# Fit the StandardScaler on the features from the training set and transform it
X_train = sc.fit_transform(X_train)

In [40]:
# Apply the transform to the test set
X_test = sc.transform(X_test)

In [41]:
# Print the scaled training and test datasets
print(X_train)

[[-0.73307913  0.6648928  -1.25704443 ...  0.98846046  0.0630946
  -0.87223395]
 [ 1.06774091 -0.62346154  1.52314768 ... -1.7535127  -0.17390392
  -0.77978452]
 [-1.74604041 -1.07158479 -1.35814232 ...  2.32756363  0.77409018
   3.28799021]
 ...
 [-0.95818164  1.08500835 -0.90320179 ...  0.22325865 -1.00339876
   0.32960859]
 [-0.62052788  0.55286199 -1.35814232 ...  0.35079228 -0.47015208
  -1.33448108]
 [ 0.44870902 -0.73549236  1.16930505 ... -0.6694768   0.18159387
   1.90124882]]

In [30]:
print(X_test)

[[-4.51486755e+00 -6.78222635e+00  8.12984614e+00 ... -1.19891826e+01
  -3.88384937e+00 -9.60661503e+00]
 [-4.54653701e+00  1.20770270e-01 -1.06885976e+00 ... -2.33745622e+01
  -4.93700501e+00 -9.86302191e+00]
 [-4.00815617e+00 -8.97863436e+00  6.59672849e+00 ... -2.62209072e+01
  -2.47964185e+00 -8.92286332e+00]
 ...
 [-5.05324839e+00  1.37586056e+00 -8.22340880e+00 ... -1.60553896e+01
  -8.09647193e+00 -1.05467736e+01]
 [-5.33827354e+00 -7.40977150e+00  2.76393437e+00 ... -1.56487689e+01
   3.48824011e+00 -9.00833228e+00]
 [-3.84980887e+00 -9.60617951e+00  5.06361084e+00 ... -2.25613208e+01
  -2.22786912e-02 -8.75192540e+00]]